<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Vue JS</title>
</head>

<body>

	<div id="app">
		<my-counter v-for="counters in 2"></my-counter>
	</div>
	
	<hr>
	
	<div id="app2">
		<my-counter-new v-for="counters in 2"></my-counter-new>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<script>
		
		var component = {
			template: `
				<div style="border: 2px solid black; padding: 10px; margin-bottom: 10px;">
					<h2>Counter: {{ counter }}</h2>
					<button @click="add">Add to counter</button>
				</div>
			`,
			data: function() {
				return {
					counter: 0
				}
			},
			methods: {
				add: function() {
					this.counter++;
				}
			}
		}
		new Vue({
			el: '#app',
			components: {
				myCounter: component
			}
		})
		
		new Vue({
			el: '#app2',
			components: {
				myCounterNew: component
			}
		})

	</script>
</body>

</html>